.DS_Store
*/.DS_Store
infrastructure/.terraform
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/tfplan
infrastructure/lambdas/files
infrastructure/lambdas/api
.mypy_cache